body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color:gray;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size:12px;
}

.app {
    background: url(../images/cordova.png) no-repeat center top; 
    background-size: contain;
    position: absolute;             
    left: 50%;
    top: 50%;
    height: 30px;                  
    width: 250px;                   
    text-align: center;
    padding: 200px 0px 0px 0px;     
    margin: -125px;
}

.event {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #FFFFFF;
    margin: 27px;
    padding: 4px 0px;
    text-transform: uppercase;
    background-color: #696969;
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

.ready {
    background-color: #4B946A;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@media screen and (orientation: portrait) {
}

@media screen and (orientation: landscape) {
}

header {
    background-color:white;
    color:navy;
    text-align:center;
    padding:1px; 
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
/*section {
       padding:2px; 
}*/
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:2px; 
    bottom:0;
}
.button {
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-color : white; 
    background-position:center;
}
tr{
 height:100%;
}
td{
 height:100%;
 width:35%;
 vertical-align:middle;
 text-align:center;   
}